 *{
    font-family: 'Roboto', sans-serif;
}
/* Navbar */


.custom-nav-btn{
    background-color: #f87708;
   font-size: 14px;
   padding: 8px 20px;
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 35px;
   padding: 15px;
    margin-top: -1rem;
}

/* Home component */

#home_img{
    height: 30rem;
}
.custom-home-btn{
    background-color: #f87708;
    font-size: 25px;
    padding: 16px 40px;
    color: rgb(223, 215, 215);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
}
.custom-home-btn:hover{
    background-color: #db6a07;
}
.home_container{
    background-color: #282421;;
}


/* Footer */
.webfooter{
    margin-top: 5rem;
    padding: 2.5rem;
    background-color: #212529;
    color: white;

   
}

.footer_products{
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    #home_img{
        height: 15rem;
    }   
}
@media screen and (max-width: 640) {
    #home_img{
        height: 20rem;
        text-align: center;
    }   
    
}


/* Register */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.google-btn{
    width: 11rem;
    margin-right: 1rem;
   

}
.facebook-btn{
    width:12rem;
    height: 2.7rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: rgb(114, 114, 114);
    font-size: .9rem;
    border-radius: 2px;
}

.register_btn_service:hover{
    background-color: rgb(243, 239, 239);
    color:black;
}
.reg_field{
    margin-left: 2rem;
}
.register_btn{
    background-color: #f87708;
    font-size: 25px;
    padding: 16px 40px;
    color: rgb(255, 251, 251);
    border: none;
    border-radius: 10rem;
    margin-top: 20px;
    padding: 15px;
}
#register_img{
    height: 5rem;
}
#error_msg{
    color: red;
}

/* Login */

.login_btn{
    background-color: #f87708;
    font-size: 20px;
    padding: 16px 40px;
    color: rgb(255, 251, 251);
    border: none;
    border-radius: 10rem;
    margin-top: 20px;
    padding: 10px 10px;
    width: 15rem;
   
}

.login_img{
    height: 20rem;
}
.select_item{
    background-color: #ffffff;
    font-size: 20px;
    padding: 16px 40px;
    color:#f87708;
    border: 1px solid #f87708 ;
    border-radius: 10rem;
    margin-top: 20px;
    padding: 10px 10px;
    width: 15rem;
}
.select_item:hover{
    background-color: #f87708;
    color:white;

}

  
  .loading-indicator:before {
    content: '';
    background: #000000cc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-indicator:after {
    content: 'Loading...';
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1001;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;        
}
.firstsubs{
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 2rem;
}


.secondsubs{
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 2rem;
}

#amount{
    font-size: 4rem;
   
}
.btn_subscription{
    padding:1rem 4rem 1rem 4rem;
    border-radius: 27px;
    background-color: #f87708;
    color: white;
    border: none;

}
.firstsubs-data{
    text-align: left;
}
.text-dest{
    color: #ada9a9;
}